
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Copntact Us</title>
  </head>
  <body>

    <div class="container">
      <div class="row p-md-5 p-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 border p-3 rounded">
          <h1>Contact us</h1>


            <div id="div_id_topic" class="form-group"> <label for="id_topic" class="control-label  requiredField">
                Topic<span class="asteriskField">*</span>
              </label>
              <div class="controls ">
                <select name="topic" class="select form-control" id="id_topic">
                  <option value="general">General enquiry</option>
                  <option value="bug">Bug report</option>
                  <option value="suggestion">Suggestion</option>
                </select>
              </div>
            </div>
            <div id="div_id_message" class="form-group">
              <label for="id_message" class="control-label  requiredField">
                Message<span class="asteriskField">*</span>
              </label>
            <div class="controls ">
              <textarea name="message" cols="40" rows="10" class="textarea form-control" required id="id_message"></textarea>
            </div> </div>

            <div id="div_id_sender" class="form-group">
              <label for="id_sender" class="control-label ">
                Sender
              </label>
              <div class="controls "> <input type="email" name="sender" class="emailinput form-control" id="id_sender">
              </div>
            </div>

          <button type="submit" class="float-right btn btn-primary">Submit</button>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
